{% extends 'base.html' %}
{% load static %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<div class="container my-5">
  <a href="{% url 'catalog' %}" class="back-button">
    ← Назад в каталог
  </a>
  <h1 class="catalog-title">{{ category.name }}</h1>
  <div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
      <div class="card product-card h-100 d-flex flex-column">
        {% if product.image %}
        <div class="product-img-wrapper">
          <img src="{{ product.image.url }}" class="card-img-top product-img" alt="{{ product.name }}">
        </div>
        {% endif %}
        <div class="card-body d-flex flex-column">
          <h5 class="product-name">{{ product.name }}</h5>
          <p class="product-price">Цена: {{ product.price }} ₽</p>
          <p class="product-description">{{ product.description|truncatewords:20 }}</p>
          <a href="{% url 'contacts' %}#contact-form" class="btn btn-order mt-auto">Заказать</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

