{% extends 'base.html' %}
{% load static %}


{% block content %}
<body>
  <div class="container my-5 mt-1 mb-1">
    <h2 class="payment_delivery-title text-center fw-bold fade-up">Оплата и доставка</h2>

    <div class="section payment-info">
      <div class="section-title">Реквизиты</div>
      <div class="section-content">
        <p><strong>Полное наименование:</strong> Индивидуальный предприниматель Шафигуллин Айдар Раисович</p>
        <p><strong>Сокращенное наименование:</strong> ИП Шафигуллин А. Р.</p>
        <p><strong>ИНН:</strong> 165805740350</p>
        <p><strong>ОГРН:</strong> 307169007500412</p>
        <p><strong>Юридический адрес:</strong> 420054, РТ, г. Москва, Холодильный пер., 3к1с3, под. 6, офис 404</p>
        <p><strong>Фактический адрес:</strong> 420054, РТ, г. г. Москва, Холодильный пер., 3к1с3, под. 6, офис 404</p>
        <p><strong>Телефон, факс:</strong> 8 (495) 021-35-77</p>
        <p><strong>Email:</strong> zakaz@suve.pro</p>
        <p><strong>Сайт:</strong> <a href="https://artlogic.ru/" target="_blank">https://litera.studio/</a></p>
        <p><strong>Банк:</strong> Филиал «Центральный» Банка ВТБ (ПАО), г. Москва</p>
        <p><strong>БИК:</strong> 044525411</p>
        <p><strong>Р/с:</strong> 40802810301180000240</p>
        <p><strong>Кор/счёт:</strong> 30101810145250000411</p>
      </div>
    </div>

    <div class="section delivery-info">
      <div class="section-title">Условия доставки</div>
      <div class="section-content">
        <p>Мы предлагаем гибкие условия доставки для вашего удобства:</p>
        <ul>
          <li>Самовывоз со склада в Москве (по предварительной договоренности).</li>
          <li>Доставка курьером по Казани в течение 1–2 рабочих дней.</li>
          <li>Отправка транспортными компаниями по всей России (СДЭК, Деловые Линии, ПЭК и др.).</li>
          <li>Возможность экспресс-доставки по согласованию.</li>
        </ul>
        <p>Стоимость доставки рассчитывается индивидуально в зависимости от объёма заказа и региона получения. После оформления заказа мы свяжемся с вами для подтверждения способа и стоимости доставки.</p>
      </div>
    </div>
  </div>
</body>
</html>

{% endblock %}